.dashbaord-labels{
    display: flex;
    justify-content: space-between;
    padding: 6px 20px 6px 20px;
}

.label-text{
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    color: #848484;
}

.card{
    height: 312px;
    padding: 8px;
    box-shadow: 0 0 1px 1px lightgrey;
}

.queries-md-tab2{
    background-color: white;
}
.md-tab2-header{
    text-align: left;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    width:34%;
    font-size: 15px;
    /* font-weight: bold; */
}
.divider{
    margin-top: 0;
}

@media (min-width: 768px){
.col-md-8.queries-md-tab1{
    flex: 0 0 68.5%;
    max-width: 68.5%;
    padding: 0;
}
.col-md-3.queries-md-tab2{
    flex: 0 0 27%;
    max-width: 27%;
    border-radius: 2px;
    border: 1px solid lightgray ;
    box-shadow: 0 0 3px lightgray;
}

.space-around{
    justify-content: space-around;
}
}

.m-top-20{
    margin-top: 25px;
}

.queries-label{
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    color: #848484;
  }

  .m-bottom-40{
    margin-bottom: 40px;
  }

.queries-tab-header-wrapper{
    display: flex;
    padding: 6px 18px;
    justify-content: space-between;
}

.queries-btn-wrapper{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.queries-btn-employee{
    padding: 6px 15px;
    background-color: #D3D3D3;
    font-family: monospace;
    border-radius: 2px;
    border: 1px solid lightgray ;
    box-shadow: 0 0 3px lightgray;
}

.queries-btn-employer{
    padding: 6px 15px;   
    font-family: monospace;
    border-radius: 2px;
    border: 1px solid lightgray;
    box-shadow: 0 0 3px lightgray;
}

.overdue-header-label{
    width: 250px;
}

.text-format{
    text-align: left;
    padding-left: 12px;
    padding-top: 5px;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    color: #848484;
}